CatalogoCloud_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:attributeGroup name="AtributosServidor">
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="rack" type="xs:string" use="required"/>
    <xs:attribute name="estado" type="xs:string" use="required"/>
  </xs:attributeGroup>

  <xs:group name="ComponentesHardware">
    <xs:sequence>
      <xs:element name="cpu" type="xs:string"/>
      <xs:element name="ram" type="xs:string"/>
      <xs:element name="gpu" type="xs:string" minOccurs="0"/>
      <xs:element name="discos">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="disco" type="xs:string" maxOccurs="8"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:element name="catalogo_cloud">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="servidor" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="hardware">
                <xs:complexType>
                  <xs:group ref="ComponentesHardware"/> </xs:complexType>
              </xs:element>
              
              <xs:element name="software" type="xs:string"/>

              <xs:element name="red">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="ip_fija" type="xs:string"/>
                    <xs:element name="dhcp" type="xs:string"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>

              <xs:element name="auditoria">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="fecha_revision" type="xs:date"/>
                    <xs:element name="tecnico" type="xs:string"/>
                    <xs:element name="nota" type="xs:string"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="AtributosServidor"/> </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:unique name="UnicoID">
      <xs:selector xpath="servidor"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:element>

</xs:schema>